body{

background-color: #C0C1BF;
}

 <img src="img/fondo.jpg"> 
 
 }

.widgets {

	background-color:#FFF;
	color: #FFF;
	margin-bottom: 12px;
}


.widgets > div {
background-color:#0080AA;
color:#424242;	
margin-bottom: 12px;
}

footer {
	padding: 0px 80px;
	background: #212529;
	text-align: center; 
	color: #DCDCDC;
	font-size:x-small;
}

